:root {
    --blue: hsl(213, 51%, 40%);
    --pale-blue: #5898d0;
    --light-blue: hsl(214, 54%, 26%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

header{
    margin: 16px;
}
.home-hero{
        background-image: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.home-hero img{
    margin: 0 auto ;
    display: block;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.home-hero h1{
    font-size: 24px;
    font-weight: bold;
    color: var(--light-blue);
    text-align: center;
    line-height: 36px;
    width: 249px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.home-hero p{
    font-size: 14px;
    color: var(--pale-blue);
    text-align: center;
    margin: 0 auto;
    width: 85%;
     margin-bottom: 20px; 
}

.home-hero a{
    font-size: 14px;
    color: #fff;
    background-color: var(--pale-blue);
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    box-shadow: 5px 10px 20px #356EAD;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
}
 @media screen and (min-width:580px){
     header{
         margin: 0;
     }
    .home-hero img{
        display: none;
    }

    nav li{
        margin: 16px 16px 0;
    } 
    .hero{
        background-image: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    }

    .home-hero {
        background-image: url('../images/illustration.svg');
        background-repeat: no-repeat;
        padding: 50px;
        background-position: right;
        background-size: 300px;
    }

    .home-hero h1{
        font-size: 30px;
        text-align: left;
        line-height: 42px;
        width: 280px;
        margin: 0;
    }

    .home-hero p{
        font-size: 14px;
        width: 230px;
        text-align: left;
        margin: 20px 0;
    }

    .home-hero a{
        font-size: 14px;
        padding: 15px 45px;
        width: 0;
        margin: 0;
        display: inline-table;
    }
 }


 @media screen and (min-width:768px){

   .home-hero {
       padding: 70px;
       background-size: 380px;
   }

   .home-hero h1{
       font-size: 44px;
       line-height: 46px;
       width: 463px;
   }

   .home-hero p{
       width: 300px;
   }

   .home-hero a{
       font-size: 16px; 
   }
}

@media screen and (min-width:1000px){

    .home-hero {
        padding: 70px;
        background-size: 480px;
    }
 
    .home-hero h1{
        font-size: 60px;
        line-height: 76px;
        width: 643px;
    }
 
    .home-hero p{
        width: 450px;
        margin-bottom: 20px;
        font-size: 20px;
    }
 }

 @media screen and (min-width:1440px){

    .home-hero {
        padding: 130px;
        background-size: 660px;
    }
 
    .home-hero h1{
        font-size: 70px;
    }
 
    .home-hero p{
        width: 600px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .home-hero a{
        font-size: 24px; 
    }
 }


 .home-body{
     margin: 70px 30px 60px;
 }

.what-we-do{
    font-size: 16px;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
    color: var(--blue);
}

.card img {
    width: 100%;
}

.card {
    text-align: center;
    border-radius: 10px;
    padding: 50px 48px;
    margin: 20px;
    box-shadow: 5px 10px 30px #1070B1;
}

.card h6 {
    font-size: 16px;
    line-height: 23px;
    color: var(--blue);
    font-weight: 100;
}

.card p {
    color: var(--light-blue);
    font-size: 14px;
    line-height: 22px;
}

.card a {
    font-size: 14px;
    text-decoration: none;
    color: var(--pale-blue);
    padding: 0;
}

.card i {
    color: var(--pale-blue);
    padding-left: 10px;
    cursor: pointer;
}

@media screen and (min-width: 768px){

    .home-body {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, auto));
        grid-template-rows: repeat(4, minmax(200px, auto));
        
        grid-gap: 30px;
    }

    .what-we-do {
        grid-row: 1/ span 1;
        align-self: start;
        font-size: 20px;
        line-height: 26px;
        padding-top: 15px;
    }

    .card1 {
        grid-row:  2 /span 3;
        align-self: center;
    }

    .cardii {
        grid-column: 2/span 2;
        grid-row: 1/span 2;
        align-self: end;
    }

    .card3 {
        grid-row: 3/span 4;
        align-self: start;
    }

}

@media screen and (min-width: 1000px){
    .what-we-do {
        font-size: 36px;
        line-height: 46px;
        padding-top: 15px;
    }

    .card1 {
        grid-row:  2 /span 3;
        align-self: center;
    }

    .cardii {
        grid-column: 2/span 2;
        grid-row: 1/span 2;
        align-self: end;
    }

    .card3 {
        grid-row: 3/span 4;
        align-self: start;
    }

    .card h6 {
        font-size: 20px;
        line-height: 26px;
    }
    
    .card p {
        font-size: 16px;
        line-height: 22px;
    }
    
    .card a {
        font-size: 16px;
    }

}

@media screen and (min-width: 1440px){
    .what-we-do {
        font-size: 42px;
        line-height: 52px;
    }

    .card h6 {
        font-size: 40px;
        line-height: 46px;
    }
    
    .card p {
        font-size: 30px;
        line-height: 42px;
    }
    
    .card a {
        font-size: 28px;
    }

}

.our-project{
    margin: 40px;
}

.our-project img{
    width: 100%;
}
.project-lead{
    margin-bottom: 50px;
}
.project-lead h3{
    font-size: 18px;
    line-height: 26px;
    color: var(--blue);
    text-align: center;
}

.project-lead p {
    font-size: 16px;
    color: var(--light-blue);
}


.banner img{
    position: relative;
    margin-bottom: 50px;
}

.banner h3 {
    color: #fff;
    position: absolute;
    padding-top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    z-index: 1;
}

.banner span {
    font-weight: 200;
    width: 50px;
    text-align: center;
}

.card2{
    position: relative;
     margin-bottom: 20px;
    /*border-radius: 80px; */
}

.card2 h3{
    position: absolute;
    color: #fff;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card2 span{
    font-weight: 200;
    width: 50px;
    text-align: center;
}

@media screen and (min-width: 768px){
    .our-project{
        /* margin: 70px; */
    }

    .project-lead{
        display: flex;
        justify-content: space-between;
       
    }

    .project-lead h3{
        font-size: 36px;
        font-weight: 200;
        line-height: 46px;
        margin: 0;
    }
    
    .project-lead p {
        width: 50%;
    }

    .banner h3 {
        font-size: 20px;
        left: 66%;
    }

    .project-cards {
        display: flex;
        justify-content: space-between;
        /* width: 85%; */
    } 
    
    .card2{
        width: 45%;
    }

    .card2 h3{
        font-size: 18px;
    }
    
    .card2 span{
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px){
    .our-project{
        margin: 70px;
    }

    .project-lead h3{
        font-size: 36px;
        font-weight: 200;
        line-height: 46px;
        margin-top: 10px;
    }
    
    .project-lead p {
        width: 50%;
        font-size: 20px;
    }

    .banner h3 {
        font-size: 30px;
        left: 66%;
    }
    
    .card2 h3{
        font-size: 28px;
        width: 100%;
        text-align: center;
    }

    .card span{
        font-size: 20px;
    }
}
@media screen and (min-width: 1440px){
    .our-project{
        margin: 70px;
    }

    .project-lead h3{
        font-size: 40px;
    }
    
    .project-lead p {
        width: 50%;
        font-size: 28px;
    }

    .banner h3 {
        font-size: 35px;
    }

    
    .card2 h3{
        font-size: 28px;
        width: 100%;
        text-align: center;
    }
} 

.our-client {
    background-color: #5A98D0;
    border-radius: 50px 0 0 0;
    margin: 0 auto;
}

.client h3 {
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.client p {
    text-align: center;
    font-size: 14px;
    line-height: 26px;    
    color: rgb(224, 223, 223);
    margin-bottom: 20px;
}

.clients-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: #fff;
    font-weight: 200;
    
}

.logo:nth-of-type(n + 5){
    border-top: 1px solid #fff;
}

.logo:nth-of-type(n + 2):nth-of-type(-n + 4),
.logo:nth-of-type(n + 6):nth-of-type(-n + 8){
    border-left: 1px solid #fff ;
}
    
.more{
    background-color: var(--blue);
  } 


  @media screen and (min-width: 768px){
      .our-client{
          border-radius: 200px 0 0 0;
      }
    
    .client{
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 0 auto;
    }

    .client h3 {
        font-size: 30px;
    }
    
    .client p {
        text-align: left;
        font-size: 20px;
        padding-top: 35px; 
    }

    .clients-table{
    padding: 30px;
    width: 75%;
    }
    
    .logo{
        padding-left: 10px;
    }
    
    
  }

  @media screen and (min-width: 1024px){
    
    /* .client{
        width:75%
    } */

    .client h3{
        width: 65%
    }
    
    .client p {
        text-align: left;
        font-size: 20px;
        padding-top: 30px; 
    }
    
    .logo{
        font-size: 20px;
    }
  }

  .team{
    border-radius: 0 50px 0 0;
    width: 97%;
    background-color: var(--blue);
    margin: 0;
} 

.team h3, p{
 color: #fff;
 margin: 0 auto;
 font-weight: 200;
 width: 68%;
 
}

.team h3{
    font-size: 18px;
    padding: 10px;
}

.team p{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom:  20px;
}

.team a {
    font-size: 14px;
    color: #fff;
    background-color: var(--pale-blue);
    border: none;
    border-radius: 10px;
    padding: 4px 32px;
    box-shadow: 5px 10px 20px #356EAD;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

hr{
    width: 80%;
    text-align:left; 
    margin: 0 auto 0 0;
}

.contacts{
    width: 75%;
}

.contacts li{
    padding: 0;
    list-style-type: none;
    color: #fff;
    padding-left: 30px;
}
 
.about{
    padding: 0;
    list-style-type: none;
    color: #fff;
    padding-left: 30px;
}

.social-media{
    padding: 0;
    list-style-type: none;
    color: #fff;
    padding-left: 30px;
}

.about h4{
   margin-top: 0;
}

.social-media h4{
    margin-top: 0;
}

.team p{
    padding-bottom: 20px;
    width: 75%;
    font-weight: 200;
}

@media screen and (min-width:768px){
    .interested{
        display: flex;
        align-items: center;
        width: 95%;
        padding-top: 50px;
        margin: 0 auto;
    }

    .team{
        border-radius: 0 200px 0 0;
    } 
    .team-work p{
        margin-top: 0;
    }

    .team a {
        font-size: 16px;
        padding: 15px 62px;
        margin-right: 50px;
    }

    hr{
        width: 90%;
    }

    .footer{
        width: 85%;
        display: flex;
        padding-top: 30px;
        margin: 0 auto;
    }
    .team-work p{
        margin-left: 50px;
        text-align: left;
    }

    .team p{
        padding: 20px;
        text-align: center;
        font-size: 14px;
    }

    .about h4{
        text-align: left;
        font-size: 20px;
     }
     
     .social-media h4{
        text-align: left;
        font-size: 20px;
     }
     
     .team p{
        
    
} 
}

@media screen and (min-width:1024px){
    .interested{
        display: flex;
        align-items: center;
        width: 95%;
        padding-top: 50px;
        margin: 0 auto;
    }

    .team-work p{
        font-size: 50px;
    }
    .team-work p{
        margin-left: 50px;
        text-align: left;
    }

    .team p{
        padding: 20px;
        text-align: center;
        font-size: 20px;
    }

    .about li{
        padding: 15px;
     }
     
     .social-media li{
        padding: 15px;
        font-size: 20px;
     }

     li span{
         padding: 20px;
         font-size: 20px;
     }

     .contacts li{
         padding: 15px;
        
     }
}